.container {
    display: flex;
    gap: 42px;
    min-height: 80vh;
}

.txt h2{
    font-size: 37px;
    margin-bottom: 1rem;
    color: #814813;
    font-family: 'Times New Roman', Times, serif;
}

.txt p{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 1px;
    max-width: 900px;
}

.list-img{
    height: 600px;
    width: 300px;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

.img{
    cursor: pointer;
}

.img img{
    width: 900px;
}

.list-img span{
    position: absolute;
    color: #ffff;
    background-color: var(--background-green);
    top: 0;
    right: 0;
}

.list-img::-webkit-scrollbar{
    width: 16px;
}

.list-img::-webkit-scrollbar-thumb{
    background-color: #75d2a8;
    border-right: 2px solid #d8d8d8;
    border-left: 2px solid #d8d8d8;
    border-radius: 2px;
}

@media screen and (max-width:882px){
    .list-img{
        width: 800px;
}}